<section>
    <div class="container">
        <div class="" </div>
            <h2>Portfolio</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus omnis corrupti quam, modi at maiores
                tempora quibusdam dolorum vitae quaerat fugiat in explicabo non eius debitis nihil eos ipsam quod?</p>
            <div class="row">
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 style="color: blue;">Proyect Name</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 style="color: blue;">Proyect Name</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>

                </div>
                <div class="col-sm">
                    <div class="card" style="width: 18rem;">
                        <img src="assets/img/big-project-image.png" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 style="color: blue;">Proyect Name</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk
                                of
                                the card's content.</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
</section>